body {
    background-color: rgb(130, 130, 205);
}

.Login-box {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 100px;
    color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: self-start;
    border: black 2px solid;
    height: 250px;
    margin-top: 30%;
}

.grid {
    display: grid;
    justify-content: center;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

.Link {
    color: yellow;
}

.userinfo {
    color: white;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
}

span {
    color: red;
}
